<launch>



  <!-- Launch Sick SickSafetyscanners Ros Driver Node -->
  <node pkg="sick_safetyscanners" type="sick_safetyscanners_node" name="sick_safetyscanners"  ns="sick_safetyscanners_1" respawn="true">
  </node>

<node pkg="sick_safetyscanners" type="sick_safetyscanners_node" name="sick_safetyscanners"  ns="sick_safetyscanners_2" respawn="true" >
  </node>

  <node pkg="sick_safetyscanners" type="sick_safetyscanners_node" name="sick_safetyscanners"  ns="sick_safetyscanners_3" respawn="true" output="screen">
  </node>

</launch>
